@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?nvvx11');
  src:  url('../fonts/icomoon.eot?nvvx11#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?nvvx11') format('truetype'),
    url('../fonts/icomoon.woff?nvvx11') format('woff'),
    url('../fonts/icomoon.svg?nvvx11#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\f002";
}
.icon-envelope-o:before {
  content: "\f003";
}
.icon-user:before {
  content: "\f007";
}
.icon-check:before {
  content: "\f00c";
}
.icon-cog:before {
  content: "\f013";
}
.icon-gear:before {
  content: "\f013";
}
.icon-home:before {
  content: "\f015";
}
.icon-clock-o:before {
  content: "\f017";
}
.icon-bookmark:before {
  content: "\f02e";
}
.icon-map-marker:before {
  content: "\f041";
}
.icon-edit:before {
  content: "\f044";
}
.icon-chevron-right:before {
  content: "\f054";
}
.icon-check-circle:before {
  content: "\f058";
}
.icon-check-circle-o:before {
  content: "\f05d";
}
.icon-mail-forward:before {
  content: "\f064";
}
.icon-gift:before {
  content: "\f06b";
}
.icon-fire:before {
  content: "\f06d";
}
.icon-eye:before {
  content: "\f06e";
}
.icon-comment:before {
  content: "\f075";
}
.icon-chevron-up:before {
  content: "\f077";
}
.icon-chevron-down:before {
  content: "\f078";
}
.icon-facebook-square:before {
  content: "\f082";
}
.icon-cogs:before {
  content: "\f085";
}
.icon-comments:before {
  content: "\f086";
}
.icon-thumbs-o-up:before {
  content: "\f087";
}
.icon-phone:before {
  content: "\f095";
}
.icon-bookmark-o:before {
  content: "\f097";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-bell-o:before {
  content: "\f0a2";
}
.icon-hand-o-right:before {
  content: "\f0a4";
}
.icon-arrow-circle-left:before {
  content: "\f0a8";
}
.icon-arrow-circle-right:before {
  content: "\f0a9";
}
.icon-wrench:before {
  content: "\f0ad";
}
.icon-briefcase:before {
  content: "\f0b1";
}
.icon-group:before {
  content: "\f0c0";
}
.icon-users:before {
  content: "\f0c0";
}
.icon-paperclip:before {
  content: "\f0c6";
}
.icon-bars:before {
  content: "\f0c9";
}
.icon-navicon:before {
  content: "\f0c9";
}
.icon-reorder:before {
  content: "\f0c9";
}
.icon-google-plus:before {
  content: "\f0d5";
}
.icon-caret-down:before {
  content: "\f0d7";
}
.icon-caret-up:before {
  content: "\f0d8";
}
.icon-caret-left:before {
  content: "\f0d9";
}
.icon-caret-right:before {
  content: "\f0da";
}
.icon-envelope:before {
  content: "\f0e0";
}
.icon-comment-o:before {
  content: "\f0e5";
}
.icon-comments-o:before {
  content: "\f0e6";
}
.icon-lightbulb-o:before {
  content: "\f0eb";
}
.icon-suitcase:before {
  content: "\f0f2";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-angle-right:before {
  content: "\f105";
}
.icon-angle-up:before {
  content: "\f106";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-desktop:before {
  content: "\f108";
}
.icon-mobile:before {
  content: "\f10b";
}
.icon-mobile-phone:before {
  content: "\f10b";
}
.icon-quote-right:before {
  content: "\f10e";
}
.icon-mail-reply:before {
  content: "\f112";
}
.icon-reply:before {
  content: "\f112";
}
.icon-microphone:before {
  content: "\f130";
}
.icon-rocket:before {
  content: "\f135";
}
.icon-chevron-circle-left:before {
  content: "\f137";
}
.icon-chevron-circle-right:before {
  content: "\f138";
}
.icon-chevron-circle-up:before {
  content: "\f139";
}
.icon-check-square:before {
  content: "\f14a";
}
.icon-youtube:before {
  content: "\f167";
}
.icon-android:before {
  content: "\f17b";
}
.icon-skype:before {
  content: "\f17e";
}
.icon-sun-o:before {
  content: "\f185";
}
.icon-arrow-circle-o-right:before {
  content: "\f18e";
}
.icon-arrow-circle-o-left:before {
  content: "\f190";
}
.icon-bank:before {
  content: "\f19c";
}
.icon-institution:before {
  content: "\f19c";
}
.icon-graduation-cap:before {
  content: "\f19d";
}
.icon-send:before {
  content: "\f1d8";
}
.icon-paper-plane-o:before {
  content: "\f1d9";
}
.icon-send-o:before {
  content: "\f1d9";
}
.icon-facebook-official:before {
  content: "\f230";
}
.icon-whatsapp:before {
  content: "\f232";
}
.icon-odnoklassniki-square:before {
  content: "\f264";
}
.icon-handshake-o:before {
  content: "\f2b5";
}
.icon-user-circle:before {
  content: "\f2bd";
}
.icon-user-circle-o:before {
  content: "\f2be";
}
.icon-user-o:before {
  content: "\f2c0";
}
.icon-telegram:before {
  content: "\f2c6";
}
.icon-location:before {
  content: "\e947";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-alarm:before {
  content: "\e950";
}
.icon-mobile1:before {
  content: "\e958";
}
.icon-users1:before {
  content: "\e972";
}
.icon-briefcase1:before {
  content: "\e9ae";
}
.icon-sphere:before {
  content: "\e9c9";
}
.icon-attachment:before {
  content: "\e9cd";
}
.icon-checkmark:before {
  content: "\ea10";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-left:before {
  content: "\ea44";
}
.icon-mail:before {
  content: "\ea83";
}
.icon-mail4:before {
  content: "\ea86";
}
.icon-facebook1:before {
  content: "\ea90";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp1:before {
  content: "\ea93";
}
.icon-telegram1:before {
  content: "\ea95";
}
.icon-youtube1:before {
  content: "\ea9d";
}
.icon-youtube2:before {
  content: "\ea9e";
}
.icon-skype1:before {
  content: "\eac5";
}
.icon-svg:before {
  content: "\eae9";
}
